body
  font-family: sans-serif, arial
  font-size: 14px
  margin: 0
  padding: 0
  
#menucontainer
  position: fixed
  width: 100%
  height: 100%
  z-index: 10000
  background-color: rgba(200, 200, 200, 0.92)
  transition: all 0.5s
  #menu
    position: fixed
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    transition: all 0.5s
  
#player
  position: fixed
  bottom: 5px
  left: 5px
  
#opponent
  position: fixed
  top: 5px
  left: 5px
  
#leave
  position: fixed
  bottom: 5px
  right: 5px
  font-weight: bold
  
#container
  position: relative

#table
  background: url("img/background.png") no-repeat scroll 0 0 / 100% 100%
  position: fixed
  width: 100%
  height: 100%
  top: 50%
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)
  > div
    float: left
    width: 30%
    height: 30%
    &.cross
      background: url("img/cross.png") no-repeat scroll 0 0 / 100% 100%
    &.circle
      background: url("img/circle.png") no-repeat scroll 0 0 / 100% 100%

#box_0
  margin: 0 3% 3% 0

#box_1
  margin: 0 1.5% 3% 1.5%

#box_2
  margin: 0 0 3% 3%

#box_3
  margin: 1.5% 3% 1.5% 0

#box_4
  margin: 1.5%

#box_5
  margin: 1.5% 0 1.5% 3%

#box_6
  margin: 3% 3% 0 0

#box_7
  margin: 3% 1.5% 0 1.5%

#box_8
  margin: 3% 0 0 3%
